<nav class="flex items-center justify-between flex-wrap bg-white py-4 lg:px-12 shadow border-solid border-t-2 border-green-700">
    <div class="flex justify-between lg:w-auto w-full lg:border-b-0 pl-6 pr-2 border-solid border-b-2 border-gray-300 pb-5 lg:pb-0">
        <div class="flex items-center flex-shrink-0 text-gray-800 mr-16">
            <a [routerLink]="['/']" class="font-semibold text-xl tracking-tight">#WikiFotball</a>
        </div>
        <div class="block lg:hidden ">
            <button
                id="nav"
                class="flex items-center px-3 py-2 border-2 rounded text-green-700 border-green-700 hover:text-blue-700 hover:border-green-700">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
            </button>
        </div>
    </div>
    
    <div class="menu w-full lg:block flex-grow lg:flex lg:items-center lg:w-auto lg:px-3 px-8">
        <div class="text-md font-bold text-green-700 lg:flex-grow">
            <a [routerLink]="['/equipos']"
                class="block mt-4 lg:inline-block lg:mt-0 hover:text-white px-4 py-2 rounded hover:bg-green-700 mr-2">
                Equipos
            </a>
            <a [routerLink]="['/jugadores']"
                class=" block mt-4 lg:inline-block lg:mt-0 hover:text-white px-4 py-2 rounded hover:bg-green-700 mr-2">
                Jugadores
            </a>
        </div>

    </div>
</nav>
<section>
    <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-8 lg:gap-16 lg:grid-cols-2">
        <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:h-full lg:order-last">
          <img
            class="absolute inset-0 object-cover w-full h-full"
            src="{{ equipo.strStadiumThumb }}"
            alt="{{ equipo.strTeam }}"
          />
        </div>
  
        <div class="lg:py-24">
          <h2 class="text-3xl font-bold sm:text-4xl">{{ equipo.strTeam }}</h2>
  
          <p class="mt-4 text-gray-600">
            {{ equipo.strDescriptionES }}
          </p>
          
          <p class="mt-4 text-gray-600">
            <b>Estadio :</b> {{ equipo.strStadium }}
          </p>

          <p class="mt-4 text-gray-600">
            <b>Capacidad :</b> {{ equipo.intStadiumCapacity }}
         </p>

        </div>
      </div>
    </div>
</section>